.scoreboard {
  height: 100px;
  width: 800px;
  border: 2px solid #2c3e50;
  background: #2c3e50;
  color: #ecf0f1;
  font-family: 'Share Tech', sans-serif;
  font-size: 3em;
  text-align: center;
}

#gameCanvas {
  border: 2px solid #34495e;
  background-image: linear-gradient(135deg, rgba(14, 139, 244, 1) 0%, rgba(1, 240, 112, 1) 100%);
}

#gameover {
  position: absolute;
  top: 250px;
  left: 260px;
  background: #e7e7e7;
  padding: 2em 5em;
  text-align: center;
  opacity: 0.75;
  display: none;
  font-family: 'Share Tech', sans-serif;
  border-radius: 10px;
}

#game-over-popup,
#game-won-popup,
#game-level-won-popup {
  display: none;
}

.popup-emoji {
  width: 25px; 
  height: 25px; 
  display: inline;
}

.game-wrapper {
}